html
  height: 100vh
  font-family: 'monocraftmedium' !important
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #f3f3f3
  overflow: hidden
  background: #141414

.v-application
  background-color: #a94949 !important


@font-face
    font-family: 'monocraftmedium'
    src: url('@/assets/font/monocraft-webfont.woff2') format('woff2'), url('@/assets/font/monocraft-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal

body
  height: 100%
  margin: 0px

.stylized-tf
  .v-input__control
    border-radius: 0px !important
    outline: 3px solid white !important
    background: #86735b !important
    box-shadow: 0px 0px 0px 3px #353540 inset, 0px 7px 0px 0px #7e674c inset !important
    margin-bottom: 0px

.v-select__content
  .v-list
    background: #b09b85 !important
    box-shadow: 0px 0px 0px 3px #353540 inset, 0px 7px 0px 0px #7e674c inset !important

.v-list
  background: transparent