html
  height: 100vh
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #f3f3f3
  overflow: hidden
  background: #141414
body
  height: 100%
  margin: 0px
  overflow: hidden

.no-scroll
  overflow: hidden !important

.stylized-tf
  .v-input__control
    border-radius: 0px !important
    outline: 3px solid white !important
    background: #86735b !important
    box-shadow: 0px 0px 0px 3px #353540 inset, 0px 7px 0px 0px #7e674c inset !important
    margin-bottom: 0px

.v-select__content
  .v-list
    background: #b09b85 !important
    box-shadow: 0px 0px 0px 3px #353540 inset, 0px 7px 0px 0px #7e674c inset !important

.v-list
  background: transparent